.main-container {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    height: 50px;
    text-align: center;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}